#meku-link,
#walk-path,
#tree,
#spacer {
    /* border: 1px solid black; */
    position: absolute;
    left: 50%;
}

#meku-link,
#walk-path {
    transform: translateX(-50%);
    bottom: 50px;
}

#meku-link {
    width: 40px;
    height: 90px;
}

#spacer {
    transform: translateX(-50%);
    background: linear-gradient(to top, rgb(255, 255, 255), 90%, rgba(255, 255, 255, 0));
    width: 500px;
    height: 200px;
    bottom: 0;
}

#tree {
    background-image: url("./images/treeBg.png");
    background-size: 800px 400px;
    transform: translateX(-75%);
    bottom: 0px;
    width: 800px;
    height: 400px;
}