#canvas-wrapper,
#meku-link,
#tree,
#flower,
#gradient {
    /* border: 1px solid black; */
    position: fixed;
    left: 50vw;
}

#canvas-wrapper,
#flower,
#gradient {
    transform: translateX(-50%);
    bottom: 0;
}

#canvas-wrapper {
    padding-bottom: 50px;
}

#gradient {
    width: 550px;
    height: 190px;
    background: linear-gradient(to top, rgb(255, 255, 255), 90%, rgba(255, 255, 255, 0));
}

#meku-link {
    width: 40px;
    height: 90px;
    margin-bottom: 50px;
}

#tree {
    background-image: url("./images/treeBg.png");
    background-size: 800px 400px;
    transform: translateX(-75%);
    bottom: 0px;
    width: 800px;
    height: 400px;
    z-index: -1;
}

#flower {
    display: none;
    margin-bottom: 60px;
}

/* Mobile */
@media only screen and (max-width: 600px) and (orientation: portrait) {
    #flower {
        display: initial;
    }
}

/* Tablet Portrait, Mobile Landscape */
@media only screen and (max-width:999px) and (orientation: portrait),
(max-width: 999px) and (orientation: landscape) {
    #tree {
        display: none;
    }

    #flower {
        display: initial;
    }
}