#meku-link,
#walk-path,
#tree,
#gradient {
    /* border: 1px solid black; */
    position: fixed;
    left: 50vw;
}

#meku-link,
#walk-path,
#gradient {
    transform: translateX(-50%);
    bottom: 0;
}

#walk-path {
    padding-bottom: 50px;
}

#gradient {
    width: 550px;
    height: 190px;
    background: linear-gradient(to top, rgb(255, 255, 255), 90%, rgba(255, 255, 255, 0));
}

#meku-link {
    width: 40px;
    height: 90px;
    margin-bottom: 50px;
}

#tree {
    background-image: url("./images/treeBg.png");
    background-size: 800px 400px;
    transform: translateX(-75%);
    bottom: 0px;
    width: 800px;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    #walk-path {
        padding-bottom: 30px;
    }
    #meku-link {
        margin-bottom: 30px;
    }
}