html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7e80a2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: right;
    font-weight: normal;
    margin: 0;
}

li {
    font-size: 20px;
    list-style-type: none;
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
}

#melvin-title {
    font-size: 63.3px;
}

#content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 700px;
    animation: fall-intro 2s;
}

@keyframes fall-intro {
    0% {
        filter: opacity(0);
        transform: translateY(-50%);
    }
}

#menu-list {
    border-left: 2px dotted #65678cb9;
    padding-left: 20px;
    margin: 0;
    margin-left: 20px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

#menu-list li:hover {
    font-size: 1.5em;
}

#menu-list a {
    animation: list-intro 1s;
}

#menu-list a:nth-child(2) { animation-delay: 0.1s;}
#menu-list a:nth-child(3) { animation-delay: 0.2s;}

@keyframes list-intro {
    0% {
        transform: translateX(+50%);
    }
}