#walk-path {
    /* border: 1px solid black; */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 65%);
}

#tree {
    /* border: 1px solid black; */
    background-image: url("./images/treeBg.png");
    background-size: 800px 400px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-75%, -50%);
    width: 800px;
    height: 400px;
}